.my-5{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.inspection-box {
  border: 2px solid #dc3545;
  background: linear-gradient(#fff3e6, #d6d6d6);
}

.inspection-header {
  background: #dc3545;
  color: #fff;
  font-weight: 700;
  padding: 8px;
  border: 2px solid #dc3545;
}

.counter {
  width: 60px;
  margin: auto;
}

.save-btn {
  background: #26a369;
  border: 1px solid #28a745;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.save-btn:hover {
  background: #28a745;
  color: #fff;
}
